*{
    padding: 0;
    margin: 0;
}
body{
    background-color: #18142F;
}
hr{
    color: #37D1A2;
}
p, a{
    font-family: Asap, sans-serif;;
}
header{
    background-color: #282248;
    padding: 1px;
}
footer{
    background-color: #1F1A3A;
    display: flex;
    margin-top: 5rem;
}
footer p{
    padding-bottom: 10rem;
    margin-left: 5rem;
    margin-top: 4.5rem;
    color: beige;
}
footer a{
    margin-left: 16rem;
    margin-top: 3rem;
}
header a{
    margin-bottom: 1rem;
}

header a:not(:first-of-type){
    text-decoration: none;
    color: #C6C2C9;
    margin-top: 1rem;
}
nav{
    display: flex;
    justify-content: space-evenly;
    width: 50rem;
    margin-left: 13rem;
    margin-top: 1.5rem;
    margin-bottom: 1rem;
}
.ultimosepisodios{
    display: flex;
    justify-content: space-evenly;
    width: 25rem;
    margin-left: 16.7rem;
    margin-top: 4.5rem;
    font-size: 2.6rem;
}
.ultimosepisodios i{
    color: #37D1A2;
}
.ultimosepisodios p, .animegrid__p{
    color: #FFFFFF;
}
.animegrid{
    display: grid;
    grid-template-columns: repeat(5,1fr);
    margin-left: 17rem;
    margin-right: 15rem;
}
.animegrid div{
    margin-top: 3rem;
}
.animegrid__img{
    width: 15rem;
    border-radius: 7px;
}
.animegrid span{
    color: #37D1A2;
}
.animegrid i{
    color: white;
    font-size: 3rem;
    position: relative;
    left: 5.5rem;
    bottom: 6rem;
}
.animegrid i:focus{
    color: red;
}
.animegrid__img:hover{
    cursor: pointer;
    filter: opacity(40%);
}
.ultimostitulo{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    width: 85rem;
    margin-left: 16.9rem;
    margin-top: 5rem;
}
.ultimostitulo__titulo-p{
    font-size: 25px;
}
.ultimostitulo :nth-of-type(1){
    color: white;
    margin-left: 2px;
}
.ultimostitulo__titulo-p i:first-child{
    color: red;
}

.ultimostitulo :nth-of-type(2){
    color: white;
    margin-left: 12px;
}

.ultimostitulo :nth-of-type(3){
    color: white;
    margin-left: 23px;
}
.ultimostitulo__titulo-p i{
    margin-right: 1rem;
}

.animegridvertical{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    margin-left: 17rem;
    margin-right: 15rem;
}
.animegridvertical img{
    width: 8rem;
    height: 13rem;
}
.animegridvertical img:hover{
    filter: opacity(50%);
}
.animegridvertical__anime{
    display: flex;
    width: 27rem;
    height: 15rem;
    margin-top: 1rem;
}
.animegridvertical__info{
    width: 20rem;
    height: 15rem;
}
.animegridvertical__info-botones{
    display: flex;
    justify-content: space-evenly;   
}
.animegridvertical__info-botones p{
    border-radius: 1rem;
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 4px;
    padding-bottom: 4px;
    cursor: pointer;
    background-color: #443D68;
}
.animegridvertical__info-botones p:hover{
    background-color: rgb(0, 153, 255);
    color: white;
    transform: 0.5s;

}
.animegridvertical__p1{
    color: white;
    font-weight: bold;
    margin-left: 1rem;
}
.animegridvertical__info p{
    margin-top: 1rem;
    color: white;
}
.animegridvertical__p2{
    text-align: left;
    margin-left: 1rem;
   
}
.ultimostituloo{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    width: 90rem;
    margin-left: 16.9rem;
}

.ultimostituloo a{
    text-decoration: none;
    color: beige;
}

.ultimostituloo :nth-of-type(1){
    margin-left: 2px;
    text-align: center;
    border-radius: 5px;
    width: 25rem;
    padding: 10px;
}
.ultimostituloo :nth-of-type(2){
    text-align: center;
    border-radius: 5px;
    width: 25rem;
    padding: 10px;
    position: relative;
    right: 20px;
}
.ultimostituloo :nth-of-type(3){
    margin-left: 2px;
    text-align: center;
    padding: 10px;
    border-radius: 5px;
    width: 25rem;
    position: relative;
    right: 35px;
}
.ultimostituloo__mas{
    background-color: #443D68;
}
.ultimostituloo__mas:hover{
    background-color: #312a5e;
    color: #FFFFFF;
}
.ultimosanimes{
    display: grid;
    grid-template-columns: repeat(6,1fr);
    width: 88rem;
    margin-left: 17rem;
    margin-right: 1rem;
    color: white;
}
.ultimosanimes img{
    width: 10.9rem;
    border-radius: 3px;
}
.ultimosanimes div{
    margin-top: 2rem;
}
.ultimosanimes img:hover{
    filter: opacity(50%);
}
/*****************************************************************
******************************************************************/
.nombreanime{
    background-color: #37D1A2;
    width: 9rem;
    margin-left: 17rem;
    margin-top: 2.5rem;
    color: white;
}
.opcionesanime{
    color: beige;
    display: flex;
    margin-left: 15.7rem;
    margin-top: 20px;
    width: 25rem;
}
.opcionesanime p{
    background-color: #282248;
    border: 1px solid white;
    border-radius: 5px;
    padding: 17px;
    margin-left: 20px;
    cursor: pointer;
}
.videoanime{
    margin-left: 17rem;
    height: 50rem;
}
.videoanime video{
    width: 60rem;
    height: 35rem;
    cursor: pointer;
}
.menuanime{
    background-color: #282248;
    color: #C6C2C9;
    width: 60rem;
    display: flex;
    padding-top: 30px;
    padding-bottom: 3rem;
}
.menuanime p{
    border: 1px solid white;
    border-radius: 5px;
    padding: 10px;
    margin-right: 4px;
}
.menuanime__descargar{
    margin-left: 29rem;
    background-color: #41A6FF;
    color: white;
}
.menuanime i{
    margin-right: 10px;
}

/*RESPONSIVE*/

/* Media queries para notebooks */
@media only screen and (max-width: 1024px) {
    header {
        text-align: left;
        padding: 1em 2em;
    }

    nav ul {
        display: flex;
        justify-content: flex-end;
    }

    main {
        padding: 3em 2em;
    } 

    footer {
        position: relative;
    }
    nav {
        width: 40rem;
        margin-left: 10rem;
    }
    .ultimosepisodios {
        width: 20rem;
        margin-left: 10rem;
        font-size: 2.4rem;
    }
    .animegrid div {
        margin-top: 2.5rem;
    }

    .animegrid__img {
        width: 12rem;
    }

    .animegrid i {
        font-size: 2.5rem;
        left: 4rem;
        bottom: 5rem;
    }
    .ultimostitulo {
        width: 70rem;
        margin-left: 10rem;
        grid-template-columns: repeat(2, 1fr); /* Dos columnas en lugar de tres */
    }

    .ultimostitulo__titulo-p {
        font-size: 22px;
    }
    .animegridvertical {
        margin-left: 10rem;
        margin-right: 10rem;
        grid-template-columns: repeat(2, 1fr); /* Dos columnas en lugar de tres */
    }

    .animegridvertical img {
        width: 7rem;
        height: 11rem;
    }
    .animegridvertical__anime {
        width: 22rem;
        height: 12rem;
    }

    .animegridvertical__info {
        width: 18rem;
        height: 12rem;
    }

    .animegridvertical__info-botones p {
        padding-left: 12px;
        padding-right: 12px;
        padding-top: 3px;
        padding-bottom: 3px;
    }
    .ultimosepisodios {
        width: 15rem;
        margin-left: 5rem;
        font-size: 2rem;
    }
}

/* Media queries para celulares */
@media (max-width: 480px) {
    nav {
        flex-direction: column;
        width: 100%;
        margin-left: 0;
        margin-top: 1rem;
        margin-bottom: 0.5rem;
    }
    .ultimosepisodios {
        flex-direction: column;
        width: 100%;
        margin-left: 0;
        margin-top: 2rem;
        font-size: 1.8rem;
        align-items: center;
    }
    .animegrid {
        margin-left: 2rem;
        margin-right: 2rem;
        grid-template-columns: repeat(2, 1fr); /* Cambiamos a dos columnas */
        gap: 10px;
    }

    .animegrid__img {
        width: 100%; /* Las imágenes ocupan todo el ancho del contenedor */
    }

    .animegrid i {
        left: 0;
        bottom: 0;
        text-align: center;
    }
    .ultimostitulo {
        width: 100%;
        margin-left: 0;
        margin-top: 3rem;
        grid-template-columns: 1fr; /* Una columna */
    }
    .ultimostitulo__titulo-p {
        font-size: 18px;
    }
    .animegridvertical {
        margin-left: 1rem;
        margin-right: 1rem;
        grid-template-columns: 1fr; /* Una columna */
    }

    .animegridvertical img {
        width: 100%;
        height: auto;
    }
    .animegridvertical__anime {
        flex-direction: column;
        align-items: center;
        width: 100%;
        height: auto;
    }

    .animegridvertical__info {
        width: 100%;
        height: auto;
        text-align: center;
    }

    .animegridvertical__info-botones {
        flex-direction: column;
        align-items: center;
    }

    .animegridvertical__info-botones p {
        width: auto;
        margin-top: 0.5rem;
        padding-left: 8px;
        padding-right: 8px;
        padding-top: 2px;
        padding-bottom: 2px;
    }
    .ultimostituloo {
        display: none;
    }
    .ultimosepisodios {
        width: 100%;
        margin-left: 0;
        font-size: 1.6rem;
    }
    .ultimosanimes {
        width: 100%;
        margin-left: 0;
        grid-template-columns: repeat(2, 1fr); /* Cambiamos a dos columnas */
    }

    .ultimosanimes img {
        width: 100%; /* Las imágenes ocupan todo el ancho del contenedor */
        max-width: 10rem; /* Establecemos un tamaño máximo para las imágenes */
    }

    .ultimosanimes div {
        margin-top: 1rem; /* Reducimos el espacio superior entre los elementos */
    }
    footer p {
        margin-left: 0; /* Eliminamos el margen izquierdo del párrafo */
        text-align: center; /* Centramos el texto */
    }

    footer a {
        margin-left: 0; /* Eliminamos el margen izquierdo del enlace */
        text-align: center; /* Centramos el enlace */
    }
    .ultimostitulo div:nth-of-type(1) {
        /* color: red; */
        /* background-color: red; */
        text-align: center;
    }
    .ultimostitulo div:nth-of-type(2) {
        display: none;
    }
    .ultimostitulo div:nth-of-type(3) {
        display: none;
    }
    .ultimostitulo__titulo-p{
        font-size: 2rem;
    }

}